{% extends 'base.html' %}

{% block title %}职位列表{% endblock %}

{% block content %}
    {% if job_list %}
        <div class="float-md-start">
            {% for job in job_list %}
                <div class="card m-1 shadow-sm bg-body rounded">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-sm-2  mt-2">
                                <p class="text-center">{{ job.type_name }}</p>
                            </div>
                            <div class="col-sm text-center">
                                <a href="/job/{{ job.id }}" class="btn btn-outline-primary text-primary shadow-sm  bg-body">{{ job.job_name }}</a>
                            </div>
                            <div class="col-sm-2   mt-2">
                                <p class="text-center">{{ job.city_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No jobs are available</p>
    {% endif %}
{% endblock %}